[Unit]
Description=Minecraft Server Log Monitor - %i

[Service]
User=minecraft

# Environment
Environment=DIRECTORY=/path/to/server/
Environment=CLIENT_CONFIG=/path/to/pass-it-on/client/configuration

WorkingDirectory=$DIRECTORY
ExecPaths=/usr/bin

PrivateUsers=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

ExecStart=/bin/sh -c "/usr/bin/mc-log-monitor -d ${WorkingDirectory} -c ${CLIENT_CONFIG}"

[Install]
WantedBy=multi-user.target
