[Unit]
Description=Minecraft Server Log Monitor - %i

[Service]
User=minecraft

# Environment
Environment=DIRECTORY=/path/to/minecraft
Environment=CONFIG=/path/to/configuration

WorkingDirectory=$Directory/%i
ExecPaths=/usr/bin

PrivateUsers=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

ExecStart=/bin/sh -c "/usr/bin/mc-log-monitor --monitor-config ${CONFIG}"

[Install]
WantedBy=multi-user.target
