[Unit]
Description=Minecraft Server Monitor Discord Bot - %i

[Service]
User=minecraft

# Environment
Environment=DIRECTORY=/path/to/server/
Environment=WEBHOOK_URL=https://YOUR_DISCORD_WEBKOOK_URL

WorkingDirectory=$DIRECTORY
ExecPaths=/usr/bin

PrivateUsers=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

ExecStart=/bin/sh -c "/usr/bin/mc-log-monitor -d ${WorkingDirectory} -w ${WEBHOOK_URL}"

[Install]
WantedBy=multi-user.target